<!DOCTYPE html>
<html>
  <head>
    <title>XIVRP Guide</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_packs_with_chunks_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_packs_with_chunks_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= yield :head %>
  </head>

  <body>
    <%= render partial: 'navbar' %>

    <% [:error, :alert, :notice, :success].each do |level| %>
      <% if flash[level] %>
        <%# convert flash level into an appropriate alert class variation %>
        <% variation = variation_for_flash level %>

        <div class='ui compact floating <%= variation %> system message'
             data-controller='message'
             data-message-autodismiss-value='10000'>
          <i class='close icon' data-action='click->message#closeMessage'></i>
          <%= flash[level] %>
        </div>
      <% end %>
    <% end %>

    <main class='ui container'>
      <%= yield %>
    </main>
  </body>
</html>
