<!DOCTYPE html>
<html>
  <head>
    <title>XIVRP Guide</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_packs_with_chunks_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_packs_with_chunks_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= yield :head %>
  </head>

  <body>
    <%= render partial: 'navbar' %>

    <% [:error, :alert, :notice, :success].each do |level| %>
      <% if flash[level] %>
        <%# convert flash level into an appropriate alert class variation %>
        <% variation = variation_for_flash level %>

        <div class='ui compact floating <%= variation %> system message'
             data-controller='message'
             data-message-autodismiss-value='10000'>
          <i class='close icon' data-action='click->message#closeMessage'></i>
          <%= flash[level] %>
        </div>
      <% end %>
    <% end %>

    <main class='ui <%= 'text' if @compact_view %> container'>
      <div class='ui visible message'>
        <h4 class='header'>Hey there!</h4>

        <p>
          Thanks for giving XIVRP.guide a look!  We're still under active
          development and plan to add many more features with feedback from you
          and the rest of the Final Fantasy 14 RP community.
        </p>

        <% unless current_page?(about_path) %>
          <p>
            Head over to the <%= link_to 'About', about_path %> page to learn
            how to send us feedback!
          </p>
        <% end %>
      </div>

      <%= yield %>
    </main>
  </body>
</html>
